<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

    <!--组件扫描-->
    <context:component-scan base-package="cn.instroduction.service" />
    <context:component-scan base-package="cn.instroduction.dao" />

    <!--将 dao,service 的管理权交给 spring 容器-->
    <!--<bean id="accountDao" class="cn.instroduction.dao.Impl.AccountDaoImpl"/>-->
    <!--<bean id="accountService" class="cn.instroduction.service.Impl.AccountServiceImpl"/>-->
   <!-- <bean id="accountService1" class="cn.instroduction.service.Impl.AccountServiceImpl1">
        <constructor-arg name="username" value="张三"/>
        <constructor-arg name="age" value="23"/>
        <constructor-arg name="birthday" ref="now"/>
    </bean>-->

    <!--<bean id="accountService2" class="cn.instroduction.service.Impl.AccountServiceImpl2">
        <property name="username" value="张三"/>
        <property name="age">
            <value>23</value>
        </property>
        <property name="birthday" ref="now"/>
    </bean>-->
    <!--<bean id="accountService3" class="cn.instroduction.service.Impl.AccountServiceImpl3" p:age="23" p:username="张三" p:birthday-ref="now"/>-->

    <!-- 注入集合数据
        List 结构的：
            array,list,set
        Map 结构的
            map,entry,props,prop
    -->
<!--    <bean id="accountService4" class="cn.instroduction.service.Impl.AccountServiceImpl4">
        &lt;!&ndash; 在注入集合数据时，只要结构相同，标签可以互换 &ndash;&gt;
        &lt;!&ndash; 给数组注入数据 &ndash;&gt;
        <property name="arryStr">
            <array>
                <value>aaa1</value>
                <value>bbb1</value>
                <value>ccc1</value>
            </array>
        </property>
        <property name="set">
            <set>
                <value>aaa2</value>
                <value>bbb2</value>
                <value>ccc2</value>
            </set>
        </property>
        <property name="list">
            <list>
                <value>aaa3</value>
                <value>bbb3</value>
                <value>ccc3</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="aqqje">
                    <value>250</value>
                </entry>
                <entry key="yjgm" value="520"/>
            </map>
        </property>
        <property name="pro">
            <props>
                <prop key="aqqje1">250</prop>
                <prop key="yjgm1">250</prop>
            </props>
        </property>
    </bean>-->


    <!--注入 时间-->
    <bean id="now" class="java.util.Date"/>

</beans>