<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--将 dao,service 的管理权交给 spring 容器-->
    <bean id="accountDao" class="cn.instroduction.dao.Impl.AccountDaoImpl"/>
    <bean id="accountService" class="cn.instroduction.service.Impl.AccountServiceImpl"/>
</beans>